body {
    background: linear-gradient(to right, #3c3b3f, #605c3c);

}

h1 {
    color: floralwhite;
    text-align: center;
    font-family: 'Bellota', cursive;
}

#sim {
    background-image: url(../imagens/stati.jfif);
    background-repeat: no-repeat;
    background-position: right;
}

p {
    color: whitesmoke;
    font-size: 20px;
}

h2 {
    font-family: 'Reggae One', cursive;
    text-align: center;
    background: linear-gradient(to right, #00f260, #0575e6);
}

th {
    background-color: darkgreen;
    color: white;
    height: 40px;
}

tr {
    background-color: aquamarine;
}

#final {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
}
